:root {
    --purple: #7314DC;
    --red: #FF4D4D;
    --salmon: #ff8c8c;
    --white: #ffffff;
    --black: #000000;
    --purple-light: #8853DD;
    --grey: #D3D5D8;
}

html {
    box-sizing: border-box !important;
}

body {
    font-family: "Roboto", serif;
    font-size: 14px;
}

main {

}

* {
    padding: 0;
    margin: 0;
}

header, .ticket-search {
    background-color: var(--purple);
    color: var(--white);
}

.ticket-search {
    padding: 72px 0;
}

.button-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.button-list.nav {
    gap: 24px;
}

.button-list a {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.1s ease-out;
}

.button-list.nav a:hover {
    color: var(--red);
}

.main-nav .button-list {
    align-items: center;
    height: 60px;
    justify-content: flex-end;
}

h1 {
    color: var(--salmon);
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.ticket-type-list {
    margin: 1rem 0;
    gap: 10px;
}

.ticket-type-list li {
    padding: 4px 20px;
    background-color: var(--purple-light);
    color: var(--white);
    border-radius: 16px;
    font-weight: 500;
}

.ticket-type-list li.active {
    background-color: var(--white);
}

.ticket-type-list li.active a {
    color: var(--black);
}

.ticket-type-list li:hover {
    background-color: #FF4D4D;
}

.ticket-search-form {
    display: flex;
    flex-direction: row;
}

.ticket-search-wrapper {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ticket-search__configuration {
    border-radius: 10px;
}

.form-item-wrapper {
    height: 60px;
    background-color: var(--white);
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10px;
}

.form-input {
    border: 0;
}

.form-item-wrapper.ticket-from:not(:last-of-type) {
    border-right: 1px solid var(--grey);
}

.ticket-destinations {
    position: relative;
}

.ticket-destinations::after {
    content: "";
    background-image: url(/img/swap.svg);
    width: 30px;
    height: 30px;
    position: absolute;
    border: 1px solid var(--salmon);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

.form-item-wrapper .form-item__placeholder {
    font-size: 0.7rem;
    color: var(--grey);
}

.ticket-search__search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    height: 60px;
}

.ticket-search__search-button .search-button {
    color: var(--white);
    padding: 0 20px;
}